.side_nav{

z-index: 4;
width: 28%;
position: fixed;
left: 0;
top: 0;
height: 100%;
background: #191919;
}

.logo{
  float: right;
  margin-top: 90px;
  margin-right: 90px;
}

.menu{
  float: right;
  margin-right: 90px;
  text-align: right;
  clear: both;
  margin-top: 150px
}
.menu-items{
  
  margin: 0;
  padding: 10px;
  text-align: right;


}
.menu-list{
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 40px;
  text-align: right;
  background: transparent;
  color: white;
  list-style: none;

}
.social{
  position: fixed;
  bottom: 0px;
  left: 0px;
  float: left;
  z-index: 1005;
}
.social ul{
  list-style: none;
  margin; 0px;
  padding; 0px;
}

.social ul li{
  width: 57px;
  height: 57px;
  float: left;
  margin-right: 1px;
  margin-bottom: 30px;

}
.header-img{
  min-height: 230px;
  overflow: hidden;
  position: relative;
  background: url(./images/background.jpg);
  background-position: top right;
  background-attachment: fixed;
  background-size: 73%;
  width: 100%;
  padding: 0px;
  padding-top: 14%;
  padding-bottom: 14px;
}

.what-we-do{
  width: 86%;
  float: left;
  padding: 7%;
  padding-bottom: 100px;
  padding-top: 90px;
  position: relative;
  
}
.what-we-do h1{
  font-size: 90px;
  line-height: 1.2;
  font-weight: 200;
  margin-left: 500px;
  /*padding: 0;*/
  float: left;

}
/*.what-we-do h2{
  font-size: 90px;

}*/
.what-we-do p{
  width: 70%;
  margin-top: 30px;
  margin-bottom: 60px;
  max-width: 800px;
  clear: both;
  padding-top: 30px;
  margin-left: 500px;
}
.about{
  width: 83%;
  height: 600px;
  float: right;
  padding: 10px 0px 0px 0px;
 /* padding-bottom: 100px;
  padding-top: 90px;*/
  position: relative;
  overflow: hidden;

}
.about-projects{
  width: 78%;
  height: 420px;
  /*float: right;*/
  padding: 0px 0px 0px 0px;
  padding-bottom: 0px;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
  margin-left: 400px;
}
.about img{
  width: 35%;
  height: 100%;
  float: left;
  margin-left: 197px;
}
/*.about-projects img{
  width: 45%;
  height: 100%;
  float: left;
  margin-left: 500px;
  margin-right: 490px;
}*/
.project-blog{
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 0px;
}
.projects-blog img{
  width: 65%;
  height: 400px;
  margin-left: 105px;
}



.about-content h1{
  font-size: 80px;
  line-height: 1.2;
  font-weight: 200;
  margin-left: 350px;
  /*padding: 0;*/
  float: left;
  margin-left: 900px;
  position: absolute;
  color: black;



}
.about-content p{
  font-size: 25px;
  line-height: 1.2;
  font-weight: 200;
  margin-left: 350px;
  /*padding: 0;*/
  float: left;
  position: absolute;
  color: black;
  margin-right: 0px;
  margin-top: 100px;
  padding-top: 120px;
  margin-left: 900px;

}
footer{
  color:#fff;
  float:left;
  position: relative;
  width: 100%;
  background: #E62C33;
  z-index: 3;
  height: 250px;

}

footer ul{
  padding-top: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 14;
  position: absolute;
  left: 600px;
  top: 25px;
  line-height: 1.8;


}

footer ul li{
  color: #fff;
  font-size: 14.5px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.right-nav{
z-index: 4;
width: 22%;
position: fixed;
right:0;
top: 0;
height: 100%;
background: #191919;

}
 .list-header-2{
  padding-top: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 14;
  position: absolute;
  left: 1050px;
  top: 25px;
  line-height: 1.8;


}
.list-header-3{
  padding-top: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 14;
  position: absolute;
  left: 1450px;
  top: 25px;
  line-height: 1.8;


}
.list-header-21{
  padding-top: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 14;
  position: absolute;
  left: 900px;
  top: 25px;
  line-height: 1.8;


}
.list-header-22{
  padding-top: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 14;
  position: absolute;
  left: 1200px;
  top: 25px;
  line-height: 1.8;


}



footer ul li{
  color: #fff;
  font-size: 14.5px;
  line-height: 1.5;
  margin-bottom: 20px;
}
/*.projects{
    width: 50%;
  height: 600px;
  left: 450px;
  padding: 0px 0px 0px 0px;
  padding-bottom: 100px;
  padding-top: 90px;
  position: relative;
  overflow: hidden;

}*/
.projects .about{
 width: 50%;
  height: 600px;
  float: right;
  padding: 0px 0px 0px 0px;
 /* padding-bottom: 100px;
  padding-top: 90px;*/
  position: relative;
  overflow: hidden;
  float: left;
  margin-left: 510px;

}
 .projects img{
  width: 100%;
  height: 100%;
  
}


.projects h1{
  font-size: 80px;
  line-height: 1.2;
  font-weight: 200;
  margin-left: 350px;
  /*padding: 0;*/
  float: right;
  position: absolute;
  color: white;



}
.projects p{
  font-size: 25px;
  line-height: 1.2;
  font-weight: 200;
  margin-left: 350px;
  /*padding: 0;*/
  float: right;
  position: absolute;
  color: white;
  margin-right: 550px;
  margin-top: 150px;
  padding-top: 20px;


}
 
.project-details{
  width: 80%;
  float: left;
  padding: 7%;
  padding-bottom: 100px;
  padding-top: 0px;
  position: relative;
  height: 300px;
  margin-top: 0
  
}
.project-details h1{
  font-size: 50px;
  line-height: 1.2;
  font-weight: 200;
  margin-left: 400px;
  color: black;
  top: 0;
  /*padding: 0;*/
  float: left;
  margin-top: 0px;

}
/*.what-we-do h2{
  font-size: 90px;

}*/
.project-details p{
  width: 70%;
  margin-top: 30px;
  margin-bottom: 60px;
  max-width: 750px;
  clear: both;
  padding-top: 15px;
  margin-left: 400px;
  color: black;
}
.project-post{
  width: 70%;
  margin-top: 30px;
  margin-bottom: 60px;
  max-width: 750px;
  clear: both;
  padding-top: 15px;
  margin-left: 600px;
  color: black;
  height: 1200px;
}
.project-posts{
  width: 86%;
  float: left;
  padding: 7%;
  padding-bottom: 100px;
  padding-top: 90px;
  position: relative;
  height: 1000px;
  
}
.project-posts h1{
  font-size: 90px;
  line-height: 1.2;
  font-weight: 200;
  margin-left: 500px;
  color: black;
  top: 0;
  /*padding: 0;*/
  float: left;
  

}
/*.what-we-do h2{
  font-size: 90px;

}*/
.project-posts p{
  width: 70%;
  margin-top: 30px;
  margin-bottom: 60px;
  max-width: 800px;
  clear: both;
  padding-top: 55px;
  margin-left: 500px;
  color: black;
  height: auto;
}
.contact{
  margin-left: 1000px;
  line-height: 4;
}
